body {
    font-family: sans-serif;
    color: white;
    background-color: #1f1f23;
}

#board {
    /*width: 420px;*/
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 36px;
    height: 36px;
    margin: 2px;
    background-color: #323232;
}

#board .active {
    background-color: indianred;
}

#board .food {
    background-color: aquamarine;
}

#input-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.range-label-wrapper {
    display: flex;
    justify-content: space-between;
}

#speed-text {
    font-weight: bold;
}

/**************** SLIDER ****************/

/* Reset Slider */

#speed-input {
    -webkit-appearance: none;
    width: 200px;
    background: transparent;
    margin-top: 20px;
}

/* Style Slider Thumb */

#speed-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    /*border: solid white 4px;*/
    background: white;
    cursor: pointer;
    margin-top: -5px;
    box-shadow: 0 1px 5px #000000;
}

/* Style Slider Track */

#speed-input::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(100,195,28,1) 0%, rgba(255,204,4,1) 50%, rgba(255,0,0,1) 100%);
}

.arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    background-color: #323232;
}

#arrow {
    width: 8px;
    height: 8px;
    border-right: solid white 2px;
    border-top: solid white 2px;
}

#arrow div {
    width: 20px;
    border-top: solid white 2px;
    transform: rotateZ(-45deg) translateX(-45%) translateY(-2px);
}

.arrow-right {
    transform: rotateZ(45deg) translate(4px, -4px);
}

.arrow-left {
    transform: rotateZ(-135deg) translate(4px, -4px);
}

.arrow-up {
    transform: rotateZ(-45deg) translate(4px, -4px);
}

.arrow-down {
    transform: rotateZ(135deg) translate(4px, -4px);
}

#counter {
    font-size: 40px;
}