body {
    font-family: sans-serif;
    color: white;
    background-color: #1f1f23;
}

#board {
    /*width: 420px;*/
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 36px;
    height: 36px;
    margin: 2px;
    background-color: #323232;
}

#board .active {
    background-color: indianred;
}

#board .food {
    background-color: aquamarine;
}

#input-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.range-label-wrapper {
    display: flex;
    justify-content: space-between;
}

/**************** SLIDER ****************/

/* Reset Slider */

#speedInput {
    -webkit-appearance: none;
    width: 200px;
    background: transparent;
    margin-top: 20px;
}

/* Style Slider Thumb */

#speedInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    /*border: solid white 4px;*/
    background: white;
    cursor: pointer;
    margin-top: -5px;
    box-shadow: 0 1px 5px #000000;
}

/* Style Slider Track */

#speedInput::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(100,195,28,1) 0%, rgba(255,204,4,1) 50%, rgba(255,0,0,1) 100%);
}
